---
import Header from '../../components/header/Header.astro';
import { mainMenu } from '../../components/data/menuData';
import Footer from '../../components/Footer/Footer.astro';
import Layout from '../../layouts/Layout.astro';
import './legalNotices.css';

title: "Mentions légales"
---

<Layout title="Sophie Rudio | Portfolio"></Layout>
<!-- <Header origin={mainMenu} /> -->

<main id="legalMain" class="self-center w-full">

<section id="legal">
    <h1>Mentions légales</h1>

    <h2>Éditeur du site</h2>
    <p><strong>Sophie Rudio</strong></p>
    <p>Contact : <a href="mailto:sophie.rudio.pro@gmail.com">sophie.rudio.pro[at]gmail.com</a></p>

    <h2>Hébergement</h2>
    <p>Ce site est hébergé par <strong>GitHub Pages</strong>, un service de <a href="https://github.com">GitHub</a>.</p>

    <h2>Propriété intellectuelle</h2>
    <p>Le contenu de ce site (textes, images, code) est la propriété de <strong>Sophie Rudio</strong>, sauf mention contraire.</p>
    <p>Toute reproduction ou utilisation sans autorisation est interdite.</p>

    <h2>Crédits</h2>
    <p>Ce site utilise un template de <a href="https://github.com/SofiDevO/" target="_blank">SofiDevO</a> sous <a href="https://opensource.org/licenses/MIT" target="_blank">licence MIT</a>.</p>

</section>

</main>
<Footer/>
</Layout>