html, body {
    height: 100%; 
    margin: 0; 
  }
  
  body {
    display: flex;
    flex-direction: column;
  }
  
  #legalMain {
    flex: 1; /* Remplie l'espace restant */
  }

  #legal {
    width: 80%;
    margin: auto;
  }

  #legalMain h1 {
    font-size: 3.5rem;
    color: whitesmoke;
    margin: 3rem 0 2rem;
    text-align: center;
  }

  #legalMain h2 {
    font-size: 2.9rem;
    color: whitesmoke;
    margin: 2rem 0 1rem;
  }

  #legal p {
    margin-left: 3rem;
  }

  #legal a {
    color: rgb(129, 188, 247);
  }

