---
import './hero.css';
import Boton from '../atoms/Boton.astro';
---

<!-- My presentation -->

<section class="hero">

	<div class="hero__container">
		<div class="text__content">
			<p class="hero__light__text">Bonjour !  Je suis</p>
			<h1 class="hero__title color__gradiente">Sophie RUDIO</h1>
			<p class="hero__text">
				Développeuse Web, en recherche d'alternance
			</p>
			<Boton href="#about"> <iconify-icon icon="fe:arrow-down" width="24" height="24"  style="color: #fff"></iconify-icon> </Boton> 
		</div>

		<!-- <iconify-icon icon="fa-solid:eye" width="4rem" height="4rem"  style="color: #fff"/> -->
		
    <img
		class="hero__img"
		src="/img/photo_cv.webp"
		alt="Sophie Rudio"
		width="21rem"
    	height="21rem"
	/>
	</div>
</section>
