---
import './hero.css';
import Boton from '../atoms/Boton.astro';
---

<!-- My presentation -->

<section class="hero">

	<div class="hero__container">
		<div class="text__content">
			<h1 class="hero__title color__gradiente">Sophie Rudio</h1>
			<p class="hero__text">
				Développeuse Web junior en recherche d'alternance
			</p>
			<Boton href="#about" texto="En savoir plus"/>
		</div>
		
    <img
		class="hero__img"
		src="/img/photo_cv.jpg"
		alt="Sophie Rudio"
		width="384"
    	height="384"
	/>
	</div>
</section>
