#skills {
	width: 90%;
	/* display: flex; */
	max-width: calc(var(--max-width) + 2.2rem);
	/* padding: 1.1rem; */
	padding: 11rem 1.1rem 0;
	gap: 2.2rem;
	margin: 4rem auto;
}

#skills .text-content {
	/* max-width: 70%; */
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1.1rem;
	margin-bottom: 3rem;
}

#skills .skills-content {
	display: flex;
	margin-bottom: 3rem;
}


@media screen and (max-width: 768px) {
	#skills {
		flex-direction: column-reverse;
		padding: 0rem;
		margin: 8rem auto;
	}

	#skills h2, #skills h3 {
		text-align: center;
	}

	#skills .text-content {
		width: 90%;
		margin: auto;
		text-align: center;
		margin-bottom: 3rem;
	}

	.skills-content {
		margin: 0 1rem;
		padding: 0rem;
	}
}
