---
import Title from '../atoms/Title.astro';
import SkillsOnTerminal from './components/skills-on-terminal/skillsOnTerminal.astro';
import './skills.css';
---

<section id="skills">
	<div class="text-content">
		<Title contenido="Compétences numériques" />
		<p>
			Escribe 
		</p>
	</div>
	<div class="skills-content">
		<SkillsOnTerminal />
	</div>
</section>
