---
import Title from '../atoms/Title.astro';
import SkillsOnTerminal from './components/skills-on-terminal/skillsOnTerminal.astro';
import SkillsOnTerminal2 from './components/skills-on-terminal/skillsOnTerminal2.astro';
import './skills.css';
---

<section id="skills">
	<div class="text-content">
		<Title contenido="Compétences" />
		<p>
			Compétences en perpétuelle mise à jour. Chaque projet est l'occasion d'apprendre, c’est ce que j’aime dans le développement ! 
		</p>
	</div>
	<div class="skills-content">
		<SkillsOnTerminal />
	</div>
	<div class="skills-content">
		<SkillsOnTerminal2 />
	</div>
</section>
