---
import SocialIcons from '../SocialIcons.astro';
import Title from '../atoms/Title.astro';
import "./about.css"


---

<section id="about" class="about">
	<div class="about__container">
		<img
			class="about__img"
			src="https://www.bpocenter.com.bo/wp-content/uploads/2017/11/10.jpg"
			alt="Profile picture Sophie Rudio"
		/>

		<div class="about__content">
			<Title margin="1rem" contenido="Présentation" />
			<p class="about__text">
				Suite à une formation de reconversion dans le développement web, je suis à
				la recherche d'une opportunité professionnelle ou d'une alternance
				pour continuer à me former dans ce domaine.
				Mes précédentes expériences professionnelles dans l'architecture m'ont
				permis d'appréhender la modélisation 2D‐3D et la gestion de projet.
			</p>
			<SocialIcons width="25" height="25"/>
		</div>
	</div>

</section>
