---
import SocialIcons from '../SocialIcons.astro';
import Title from '../atoms/Title.astro';
import "./about.css"


---

<section id="about" class="about">
	<div class="about__container">
		<img
			class="about__img"
			src="img/code.png"
			alt="Code Screenshot"
		/>

		<div class="about__content">
			<Title margin="1rem" contenido="Présentation" />
			
			<p class="about__text">
				Dans le cadre d’un parcours de reconversion professionnelle, j’ai validé en 2024 un titre de 
				<span class="bold_text">Développeuse Web et Web Mobile</span> <span class="light_text">(RNCP niveau 5, bac +2)</span>. Cette formation m’a confortée 
				dans mon choix de poursuivre dans ce domaine, et <span class="bold_text">je souhaite approfondir mes apprentissages 
					avec une formation de bachelor en alternance</span>.<br/>
				<br/>
				Lors de ma formation de DWWM, j’ai acquis des connaissances en <span class="bold_text">HTML, CSS, JavaScript, PHP,  
				Symfony et SQL</span> pour développer des sites structurés et évolutifs.<br/>
				<br/>
				Mon précédent parcours en architecture m'a permis d'appréhender la modélisation 2D‐3D et la gestion 
				de projet, il m’a apporté une solide capacité d’adaptation ainsi qu’un esprit analytique. 
				J’ai déjà expérimenté le monde de l’entreprise et l’organisation de projets. 
				Curieuse, rigoureuse et créative, appréciant la dynamique du travail d'équipe, <span class="bold_text">je retrouve dans 
				le développement web mon intérêt pour la technique et la créativité</span>.
			</p>

			<SocialIcons width="25" height="25"/>

			<div class="about_link_cv">
				<a class="cv__link"
				href="../../portfolio/docs/cv_sophie_rudio.pdf"
				target="_blank"
				rel="nofollow noreferrer noopener">
					<span id="cv">
						<iconify-icon
							icon="pepicons-print:cv"
							width="5rem"
							height="5rem">
						</iconify-icon>
					</span>
				Télécharger mon CV</a>
			</div>

		</div>
	</div>

</section>
