---
import Boton from "../components/atoms/Boton.astro";
import Layout from "../layouts/Layout.astro";


---

<Layout title="Page non trouvée">
        <h1 class="text-xl">Page non trouvée</h1>
        <Boton texto="Regresar" href="/"/>
</Layout>