---
import About from '../components/About/About.astro';
// import BlogHome from '../components/BlogHome.astro';
import { mainMenu } from '../components/data/menuData';
import Footer from '../components/Footer/Footer.astro';
import Header from '../components/header/Header.astro';
import Hero from '../components/hero/Hero.astro';
import Experience from '../components/experience/Experience.astro';
import Skills from '../components/skills/Skills.astro';
import Portfolio from '../components/Portfolio.astro';
import Summary from '../components/summary/summary.astro';
// import Contact from '../components/contact/contact.astro';
import Layout from '../layouts/Layout.astro';
//import Legal from '../pages/legal/legalNotices.astro';
---

<Layout title="Sophie Rudio | Portfolio">
	<Header origin={mainMenu} />
	<main class="self-center w-full">
		<Hero />
		<About />
		<Skills />
		<Experience />
		<Portfolio />
		<Summary />
		<!-- <Contact /> -->
		<!-- Blog Articles section -->
			<!-- <BlogHome /> -->
	</main>
	<Footer/>
</Layout>
