---
import TerminalIcon from '../../atoms/terminal-icon/TerminalIcon.astro';
import Terminal from '../terminal/Terminal.astro';
import './skills-on-terminal.css';
---

<Terminal nombre="sophieRudio">
    <div class="terminal__skills"> 
        <h3>Bureautique</h3>
        <div class="terminal__skills__container">
            <TerminalIcon
                src="public/assets/office-365.svg"
                color="#F34009"
                name="PackOffice"
            />
            <TerminalIcon
                src="public/assets/trello.svg"
                color="#085ED7"
                name="Trello"
            />
        </div>
</div>

<div class="terminal__skills">
    <h3>Architecture & Design</h3>
    <div class="terminal__skills__container mb_4em">
        <TerminalIcon
            src="public/assets/vectorworks.svg"
            color="#ffffff"
            name="Vectorworks"
        />
        <TerminalIcon
            src="public/assets/archicad.svg"
            color="#5E72B1"
            name="ArchiCad"
        />
        <TerminalIcon
            src="public/assets/autocad.svg"
            color="#DE104E"
            name="AutoCad"
        />
        <TerminalIcon
            src="public/assets/sketchup.svg"
            color="#E83234"
            name="Sketchup"
        />
        <TerminalIcon
            src="public/assets/diamond.svg"
            color="#08A591"
            name="Artlantis"
        />
        <TerminalIcon
            src="public/assets/twinmotion.svg"
            color="#ffffff"
            name="Twinmotion"
        />
        <TerminalIcon
            src="public/assets/qgis.svg"
            color="#7CA730"
            name="Qgis"
        />
    </div>
    <div class="terminal__skills__container">
            <TerminalIcon
                src="public/assets/indesign.svg"
                color="#E750A0"
                name="InDesign"
            />
            <TerminalIcon
                src="public/assets/photoshop.svg"
                color="#37ABFF"
                name="Photoshop"
            />
            <TerminalIcon
                src="public/assets/illustrator.svg"
                color="#FF9D08"
                name="Illustrator"
            />
            <TerminalIcon
                src="public/assets/figma.svg"
                color="#FF7566"
                name="Figma"
            />
        </div>
</div>
</Terminal>