---
import TerminalIcon from '../../atoms/terminal-icon/TerminalIcon.astro';
import Terminal from '../terminal/Terminal.astro';
import './skills-on-terminal.css';
---

<Terminal nombre="sophieRudio">

	<div class="terminal__skills">
		<h3>Développement web</h3>
		<div class="terminal__skills__container">
			
			<TerminalIcon
				src="icomoon-free:html-five"
				color="#FF4747"
				name="HTML"
			/>
			<TerminalIcon
				src="akar-icons:javascript-fill"
				color="#F0DB4F"
				name="JavaScript"
			/>
			<TerminalIcon 
				src="devicon-plain:css3" 
				color="#2965f1" 
				name="CSS" 
			/>
			<TerminalIcon
				src="fa-brands:sass"
				color="#cb6699"
				name="Sass"
			/>
			<TerminalIcon
				src="devicon-plain:bootstrap"
				color="#7738ff"
				name="Bootstrap"
			/>
			<TerminalIcon 
				src="devicon-plain:php" 
				color="#7a9edd"
				name="PHP" 
			/>
			<TerminalIcon
				src="simple-icons:symfony"
				color="#ffffff"
				name="Symfony"
			/>
			<TerminalIcon
				src="fontisto:mysql"
				color="#F79C25"
				name="MySQL"
			/>
		</div>
	</div>
	
</Terminal>
