---
import TerminalIcon from '../../atoms/terminal-icon/TerminalIcon.astro';
import Terminal from '../terminal/Terminal.astro';
import './skills-on-terminal.css';
---

<Terminal nombre="sophieRudio">
    <div class="terminal__skills"> 
        <h3>Bureautique</h3>
        <div class="terminal__skills__container">
            <TerminalIcon
                src="mdi:microsoft-office"
                color="#F34009"
                name="PackOffice"
            />
            <TerminalIcon
                src="devicon-plain:trello"
                color="#085ED7"
                name="Trello"
            />
        </div>
</div>

<div class="terminal__skills">
    <h3>Architecture & Design</h3>
    <div class="terminal__skills__container mb_4em">
        <TerminalIcon
            src="simple-icons:vectorworks"
            color="#ffffff"
            name="Vectorworks"
        />
        <TerminalIcon
            src="simple-icons:archicad"
            color="#5E72B1"
            name="ArchiCad"
        />
        <TerminalIcon
            src="simple-icons:autocad"
            color="#DE104E"
            name="AutoCad"
        />
        <TerminalIcon
            src="file-icons:sketchup-make"
            color="#E83234"
            name="Sketchup"
        />
        <TerminalIcon
            src="famicons:diamond"
            color="#08A591"
            name="Artlantis"
        />
        <TerminalIcon
            src="simple-icons:twinmotion"
            color="#ffffff"
            name="Twinmotion"
        />
        <TerminalIcon
            src="simple-icons:qgis"
            color="#7CA730"
            name="Qgis"
        />
    </div>
    <div class="terminal__skills__container">
            <TerminalIcon
                src="cib:adobe-indesign"
                color="#E750A0"
                name="InDesign"
            />
            <TerminalIcon
                src="cib:adobe-photoshop"
                color="#37ABFF"
                name="Photoshop"
            />
            <TerminalIcon
                src="cib:adobe-illustrator"
                color="#FF9D08"
                name="Illustrator"
            />
            <TerminalIcon
                src="solar:figma-bold-duotone"
                color="#FF7566"
                name="Figma"
            />
        </div>
</div>
</Terminal>