---
import TerminalIcon from '../../atoms/terminal-icon/TerminalIcon.astro';
import Terminal from '../terminal/Terminal.astro';
import './skills-on-terminal.css';
---

<Terminal nombre="sophieRudio">

	<div class="terminal__skills">
		<h3>Développement web</h3>
		<div class="terminal__skills__container">
			<TerminalIcon
				src="/assets/html.png"
				color="#FF4747"
				name="HTML"
			/>
			<TerminalIcon
				src="/assets/javascript.svg"
				color="#F0DB4F"
				name="JavaScript"
			/>
			<TerminalIcon 
				src="/assets/css3.svg" 
				color="#2965f1" 
				name="CSS" 
			/>
			<TerminalIcon
				src="/assets/sass.svg"
				color="#cb6699"
				name="Sass"
			/>
			<TerminalIcon
				src="/assets/bootstrap.svg"
				color="#7738ff"
				name="Bootstrap"
			/>
			<TerminalIcon 
				src="/assets/php.png" 
				color="#7a9edd"
				name="PHP" 
			/>
			<TerminalIcon
				src="/assets/symfony.png"
				color="#ffffff"
				name="Symfony"
			/>
			<TerminalIcon
				src="/assets/mysql.png"
				color="#F79C25"
				name="MySQL"
			/>
		</div>
	</div>
	
</Terminal>
