---
import SocialIcons from '../SocialIcons.astro';
import Title from '../atoms/Title.astro';
import "./contact.css"
---

<section id="contact" class="contact-section">
    <div class="container">
        <h3 class="subtitle">Contact</h3>
        <Title margin="1rem" contenido="Contactez-moi" />
        <div class="contact-text">
            <p>
                N'hésitez pas à me contacter, je vous répondrai dans les meilleurs délais.
            </p>
        </div>
        
        <div class="contact-content">
            <!-- <div> -->
                <form id="contact-form" action="https://formspree.io/f/mnnjznkj" method="POST" class="contact-form">
                    <input type="text" name="from_name" placeholder="Votre nom" required class="input-field">
                    <input type="email" name="reply_to" placeholder="Votre email" required class="input-field">
                    <textarea name="message" placeholder="Votre message" rows="4" required class="input-field"></textarea>
                    <button type="submit" class="submit-btn">Envoyer</button>
                </form>
                <div id="form-message" class="hidden message-success">
                    ✅ Merci pour votre message !
                </div>
            <!-- </div> -->
        </div>
    </div>
</section>
