---
const {name} = Astro.props;
---

<a href="https://sophie-rud.github.io/portfolio/" class="profile">
    <div class="img__container">
        <!-- <img
            class="header__img"
            src="portfolio/assets/pepicons-house.png"
            alt="Home"
            width="25px"
            height="25px"
        /> -->
        <iconify-icon
            icon="pepicons-print:house"
            width="3rem"
            height=3rem">
        </iconify-icon>
    </div>
    <h3 class="color__gradiente header__title">
        {name}
    </h3>
</a>

<style>

 .img__container {
	border-radius: 50%;
	overflow: hidden;
	transition: 0.35s transform;
}

 .img__container:hover {
	transform: scale(1.1);
}

 .profile {
	display: flex;
	border-radius: 50%;
	align-items: center;
	gap: 1.5rem;
}
</style>