footer {
    width: 100%;
    background: rgb(19, 19, 19);
    min-height: 20dvh;
    color: var(--primary-100);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.footer__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;
    flex-wrap: wrap;
    h3{
        font-size: var(--text-title);
    }
}

.footer__content {
    width: 33%;
}

    .footer__content:nth-of-type(2) {
        display: flex;
        justify-content: center;
    }

.footer__content h3 {
    margin: 1rem 0;
}

.footer__link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    font-size: var(--text-large);
}

.footer__link .tothetop {
    margin-top: 2rem;
}

.copyright, .legal-link {
    text-align: center;
}
    .copyright {
        font-size: var(--text-small);
        color: var(--primary-80);
        /* margin: 2rem 0; */
    }
    .legal-link {
        font-size: var(--text-x-small);
        color: var(--primary-70);
        margin: 1rem 0;
    }