#background{
	width: 80%;
	margin: auto;
}

/* Main DIV */
.experience, .education, .workshop {
	/* display: flex; */
	justify-content: center;
	align-items: center;
	gap: 1rem;
	width: 100%;
    margin: auto;
}

/* DIV CONTAINER */
.experience__container, .education__container, .workshop__container {
	display: flex;
	/* padding: 11rem 13.1rem; */
	flex-wrap: wrap;
	justify-content: space-around;
	/* gap: 4.4rem; */
	gap: 3rem 0;
}

/* DIV CONTENT (some contents in one container, by type) */
.experience__content, .education__content, .workshop__content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 25px;
	border-radius: 30px;
	text-align: center;
}
	.experience__content {
		width: 27%;
		/* gap: 0.3rem; */
		background-color: #B95F89;
	}
	.education__content {
		width: 17%;
		background-color: #337E99;
	}
	.workshop__content {
		width: 20%;
		background-color: #440386;
	}

/* TEXTS PROPERTIES */
/* Titles */

h3 {
	/* font-size: 2.5rem; */
	font-size: var(--text-xx-large);
	margin: 3rem 0 2rem 0;
	font-weight: 600;
	color: var(--primary-90);
}

.experience__content h4, .education__content h4 {
	font-size: var(--text-x-large);
	font-weight: 600;
	color: var(--secondary-90);
	/* padding: 2.2rem 0; */
}

.experience__content h5, .education__content h5 {
	font-size: var(--text-small);
	font-weight: 600;
	color: var(--secondary-90);
}

/* Text */
.experience__text, .education__text, .workshop__text {
	font-size: var(--text-x-small);
	color: #DFDFDF;
	max-width : 70.19rem;
}

.workshop_span {
	font-size: var(--text-medium);
	font-weight: 600;
	color: var(--secondary-80);
}

.experience__date, .education__date, .workshop__date {
	font-size: var(--text-small);
	max-width: 70.19rem;
}
	.experience__date {
		color: #E4ADB1;
	}
	.education__date {
		color: #A3D0E0;
	}
	.workshop__date {
		/* color: #AEBFD2; */
		/* color: var(--secondary-80); */
		color: #B873FC;
	}


/* ICONS from iconify */
	/* Icon: check */
.material-symbols--check {
	display: inline-block;
	width: 1.5rem;
	height: 1.5rem;
	--svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='m9.55 18l-5.7-5.7l1.425-1.425L9.55 15.15l9.175-9.175L20.15 7.4z'/%3E%3C/svg%3E");
	background-color: currentColor;
	-webkit-mask-image: var(--svg);
	mask-image: var(--svg);
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-size: 100% 100%;
	mask-size: 100% 100%;
  }

  /* Icon: book (for architecture portfolio) */
  .akar-icons--book {
	display: inline-block;
	color: whitesmoke;
	width: 1.8rem;
	height: 1.8rem;
	margin-top: 0.7rem;
	--svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 6s1.5-2 5-2s5 2 5 2v14s-1.5-1-5-1s-5 1-5 1zm10 0s1.5-2 5-2s5 2 5 2v14s-1.5-1-5-1s-5 1-5 1z'/%3E%3C/svg%3E");
	background-color: currentColor;
	-webkit-mask-image: var(--svg);
	mask-image: var(--svg);
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-size: 100% 100%;
	mask-size: 100% 100%;
  }

  /* RESPONSIVE */
@media screen and (max-width: 768px) {
	.experience__container {
		padding: 8rem 3.1rem;
		flex-direction: column-reverse;
		align-items: center;
	}
}
