.experience {
	/* display: flex; */
	justify-content: center;
	align-items: center;
	gap: 1rem;
	width: 70%;
    margin: auto;
}

.experience__container {
	display: flex;
	padding: 11rem 13.1rem;
	/* flex-wrap: wrap; */
	justify-content: space-around;
	gap: 4.4rem;
}

.experience__content {
	display: flex;
	flex-direction: column;
	max-width: 75rem;
	gap: 2.1rem;
	justify-content: center;
}

.experience__content h3 {
	font-size: var(--text-x-large);
	font-weight: 600;
	color: var(--secondary-90);
	padding: 2.2rem 0;
}

.experience__text {
	font-size: 1.8rem;
	max-width: 70.19rem;
}

@media screen and (max-width: 768px) {
	.experience__container {
		padding: 8rem 3.1rem;
		flex-direction: column-reverse;
		align-items: center;
	}
}
