name: Deploy to GitHub Pages

on:
  push:
    branches:
      - staging  # Déclenche le workflow sur la branche main

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      # 1. Configuration de l'identité Git
      - name: Set Git identity
        run: |
          git config --global user.name "sophie-rud"
          git config --global user.email "sophie.rudio@lapiscine.pro"

      # 2. Checkout du dépôt
      - name: Checkout code
        uses: actions/checkout@v2


      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '18.14.1'

      # 3. Installer les dépendances
      - name: Install dependencies
        run: npm install

      # 4. Construire le projet
      - name: Build the project
        run: npm run build

      # 5. Déployer avec gh-pages
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}  # Utilise le token GitHub pour l'authentification
          publish_dir: ./dist
